<section class="login-house">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-under">
                    <div class="login-center">
                      <form [formGroup]="verifyOtpForm" (ngSubmit)="verifyOtpSubmit(verifyOtpForm.value)">
                        <img class="login-logo" src="assets/images/logo.png" alt="">
                        <p class="login-welcome-p">Reset Password? 👩🏻‍💻</p>
                        <p class="login-welcome-p-1">We Will Help You Reset your Password.</p>
                    <div class="form-div">
                        <div class="row">
                        <div class="col-lg-12">
                        <div class="common_mar_bottom form-group">
                            <label class="label-1">Enter 6 digit code</label>
                            <div class="eye-real">
                                <input class="input-dt form-control" type="text" name="" inputDirective
                                    inptype="number" placeholder="Enter 6 digit code " maxLimit?="6"
                                    formControlName="code"
                                    [ngClass]="{ 'is-invalid': VerifySubmitted && vf['code'].errors }" trim />
                                <div *ngIf="VerifySubmitted && vf['code'].errors" class="invalid-feedback">
                                    <span class="for-sub-name" *ngIf="vf['code'].errors['required']">
                                        Please enter the code
                                    </span>

                                </div>
                            </div>

                        </div>
                        </div>

                        <div class="col-lg-12">
                        <div class="common_mar_bottom form-group">
                            <label class="label-1">Password</label>
                            <div class="eye-real">
                                <input class="input-dt form-control" formControlName="password"
                                    placeholder="Password"
                                    [attr.type]="verifyOtpForm.get('password')?.value < 1 ? 'text': 'password'"
                                    [class.have-value]="vf['password'].value"
                                    [ngClass]="{ 'is-invalid': VerifySubmitted && vf['password'].errors }">
                                <!-- validator -->
                                <div class="invalid-feedback block">
                                    <span *ngIf="VerifySubmitted && vf['password'].hasError('required')">
                                        Password is required
                                    </span>
                                    <span>
                                        <div *ngIf="!vf['password'].hasError('required')">
                                            <i class="fa" [class.fa-times-circle]="vf['password'].hasError('minlength')"
                                                [class.green-color]="!vf['password'].hasError('minlength')"
                                                [class.fa-check-circle]="!vf['password'].hasError('minlength')">
                                                Must have at least 8 characters!
                                            </i> <br>
                                            <i class="fa"
                                                [class.fa-times-circle]="vf['password'].hasError('hasCapitalCase')"
                                                [class.green-color]="!vf['password'].hasError('hasCapitalCase')"
                                                [class.fa-check-circle]="!vf['password'].hasError('hasCapitalCase')">
                                                Must contain at least 1 in Capital Case!
                                            </i> <br>
                                            <i class="fa" [class.fa-times-circle]="vf['password'].hasError('hasSmallCase')"
                                                [class.green-color]="!vf['password'].hasError('hasSmallCase')"
                                                [class.fa-check-circle]="!vf['password'].hasError('hasSmallCase')">
                                                Must contain at least 1 Letter in Small Case!

                                            </i> <br>
                                            <i class="fa" [class.fa-times-circle]="vf['password'].hasError('hasNumber')"
                                                [class.green-color]="!vf['password'].hasError('hasNumber')"
                                                [class.fa-check-circle]="!vf['password'].hasError('hasNumber')">
                                                Must contain at least 1 number!
                                            </i> <br>
                                            <i class="fa"
                                                [class.fa-times-circle]="vf['password'].hasError('hasSpecialCharacters')"
                                                [class.green-color]="!vf['password'].hasError('hasSpecialCharacters')"
                                                [class.fa-check-circle]="!vf['password'].hasError('hasSpecialCharacters')">
                                                Must contain at least 1 Special Character!
                                            </i> <br>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        </div>


                        <div class="col-lg-12">
                        <div class="common_mar_bottom form-group">
                            <label class="label-1">CONFIRM PASSWORD</label>
                             <div class="eye-real">
                                <input class="input-dt common-input" formControlName="passwordConfirm"
                                    placeholder="CONFIRM PASSWORD"
                                    [class.have-value]="vf['passwordConfirm'].value"
                                    [attr.type]="verifyOtpForm.get('passwordConfirm')?.value < 1 ? 'text': 'password'"
                                    [ngClass]="{ 'is-invalid': VerifySubmitted && vf['passwordConfirm'].errors }">
                             
                                <div *ngIf="VerifySubmitted && vf['passwordConfirm'].errors" class="invalid-feedback">
                                    <span class="for-sub-name" *ngIf="vf['passwordConfirm'].errors['required']">
                                        Confirm Password is required
                                    </span>
                                    <span class="for-sub-name"
                                        *ngIf="!vf['passwordConfirm'].errors['required'] && vf['passwordConfirm'].errors['matchOther']">
                                        Password must match
                                    </span>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="common_mar_bottom form-group">
                                <button class="full-login BT-shadow" [disabled]="verifyBtnDisabled" type="submit">
                                    Reset Password
                                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style=" font-size: 22px; "
                                        *ngIf="verifyBtnDisabled"></i>
                                </button>
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="Logn">
                                <a href="javascript:void(0)" class="Back-to-login" [routerLink]="['']"><i class="fas fa-angle-left fix-i"></i> Back to login</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    </div>
</section>

<!-- <section class="login-house">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-under">
                    <div class="login-center">
                        <img class="login-logo" src="assets/images/logo.png" alt="">
                        <p class="login-welcome-p">Forgot Password? 👩🏻‍💻</p>
                        <p class="login-welcome-p-1">Enter your email and we'll send you instructions to reset your password.</p>
                        <div class="form-div">
                            <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm.value)">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="common_mar_bottom form-group">
                                        <label class="label-1">Email</label> 
                                        <div class="eye-real">
                                            <input class="input-dt form-control" type="text" name=""
                                                placeholder="johndoe@gmail.com" (keyup)="onPassEnter($event)"
                                                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                                maxlength="40" trim />
                                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                                <span class="for-sub-name" *ngIf="f['email'].errors['required']">
                                                    Email is required.
                                                </span>
                                                <span class="for-sub-name" *ngIf="f['email'].errors['email']">
                                                    Please,enter valid email address.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="common_mar_bottom">
                                        <button class="full-login BT-shadow" [disabled]="isBtnDisabled" type="submit">
                                            Send reset link
                                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style=" font-size: 22px; "
                                                *ngIf="isBtnDisabled"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="common_mar_00">
                                        <a href="javascript:void(0)" class="Back-to-login" [routerLink]="['']"><i class="fas fa-angle-left fix-i"></i> Back to login</a>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section> -->