<!-- 
    <section class="top-logo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-logo-under">
                        <img class="top-logo-under-logo" src="assets/images/logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="verify-email">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="v-e-left">
                        <img class="v-e-i" src="assets/images/left-image-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="v-e-right">
                        <div class="flex-center">
                            <p class="v-f-e-pp">Verify your email ✉️</p>
                            <p class="v-f-e-pp-1">Account activation link sent to your email address: <strong> hello@pixinvent.com</strong> Please follow the link inside to continue.</p>
                            <button class="Login__b BT-shadow">Login</button>
                            <p class="v-f-e-pp-2">Didn't receive an email? <a href="javascript:void(0)">Resend</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    
    <section class="login-house">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-under">
                        <div class="login-center">
                            <img class="login-logo" src="assets/images/logo.png" alt="">
                            <p class="login-welcome-p">Forgot Password? 👩🏻‍💻</p>
                            <p class="login-welcome-p-1">Enter your email and we'll send you instructions to reset your password.</p>
                            <div class="form-div">
                                <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm.value)">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="common_mar_bottom form-group">
                                            <label class="label-1">Email</label> 
                                            <div class="eye-real">
                                                <input class="input-dt form-control" type="text" name=""
                                                    placeholder="johndoe@gmail.com" (keyup)="onPassEnter($event)"
                                                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                                    maxlength="40" trim />
                                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                                    <span class="for-sub-name" *ngIf="f['email'].errors['required']">
                                                        Email is required.
                                                    </span>
                                                    <span class="for-sub-name" *ngIf="f['email'].errors['email']">
                                                        Please,enter valid email address.
                                                    </span>
                                                </div>
                                                <!-- <input class="input-dt" type="text" placeholder="johndoe@gmail.com"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="common_mar_bottom">
                                            <button class="full-login BT-shadow" [disabled]="isBtnDisabled" type="submit">
                                                Send reset link
                                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style=" font-size: 22px; "
                                                    *ngIf="isBtnDisabled"></i>
                                            </button>
                                            <!-- <button class="full-login BT-shadow">Send reset link</button> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="common_mar_00">
                                            <a href="javascript:void(0)" class="Back-to-login" [routerLink]="['']"><i class="fas fa-angle-left fix-i"></i> Back to login</a>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm.value)">
        <div class="flex-translate">
            <div class="trans-1">
                <img class="under-im only-login-image" src="assets/images/new-logo.png">
            </div>
            <div class="trans-2">
                <app-language></app-language>
            </div>
        </div>
        <div class="login-under bt">
            <div class="new-design-log">
                <h1 class="sig-ul-p">{{'frgtPswd.pswdRst' | translate}}</h1>
                <p class="sig-ul-p-1">{{'frgtPswd.wewllhlp' | translate}}</p>
            </div>

            <div class="custom-input form-group">
                <label for="">{{'Login.eml' | translate}}</label>
                <div class="relative-div">
                    <input class="common-input form-control" type="text" name=""
                        placeholder="{{'Login.entrEml' | translate}}" (keyup)="onPassEnter($event)"
                        formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        maxlength="40" trim />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <span class="for-sub-name" *ngIf="f.email.errors.required">
                            {{'Login.emlReq' | translate}}
                        </span>
                        <span class="for-sub-name" *ngIf="f.email.errors.email">
                            {{'Login.mstBVld' | translate}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group captcha g-recaptcha">
                <re-captcha (resolved)="resolved($event)"
                    siteKey="6Lcy7N4ZAAAAAHpYHlxEitgnmnAWUJaCCe5cNUzk"></re-captcha>
            </div>

            <div class="custom-input">
                <button class="COMPLETE-REGISTRATION bt" [disabled]="isBtnDisabled" type="submit">
                    {{'frgtPswd.rstPswd' | translate}}
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style=" font-size: 22px; "
                        *ngIf="isBtnDisabled"></i>
                </button>
            </div>
            <div class="custom-input">
                <div class="Logn">
                    <p class="Remembered-p">{{'frgtPswd.rmbrPswd' | translate}}</p>
                    <a href="javascript:void(0)" [routerLink]="['/login']">{{'frgtPswd.bckSgnin' |
                        translate}}</a>
                </div>
            </div>
        </div>
    </form> -->
