<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand"
                    href="../../../html/ltr/vertical-menu-template/javascript:void(0)">
                    <img src="assets/images/sideMenu.png" alt="">
                    <h2 class="brand-text mb-0">Real876-App</h2>    
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                        class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i
                        class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
                        data-ticon="disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main " id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a [routerLink]="['/dashboard']" routerLinkActive="active" class="d-flex align-items-center"
                    href="javascript:void(0)"><i class="fa fa-home" aria-hidden="true"></i><span
                        class="menu-title text-truncate "  data-i18n="Dashboards">Dashboards</span></a>

            </li>
            <li class=" nav-item"><a [routerLink]="['/products']"  routerLinkActive="active" class="d-flex align-items-center"
                    href="javascript:void(0)"><i class="fas fa-box"></i><span class="menu-title text-truncate"
                        data-i18n="Email">Products</span></a>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->